/* Application wide styles */

.list-cell:filled:hover {
    -fx-font-style: oblique;
    -fx-font-size: 14;
}

/* Component specific styles */


#pane {
    -fx-background-image: url("../images/concert.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
}




